<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @assignment.statement %>
</p>

<p>
  <strong>Course:</strong>
  <%= @assignment.course %>
</p>

<%= link_to 'Grades', course_assignment_grades_path(assignment_id: @assignment.id) %>
<%= link_to 'Edit', edit_course_assignment_path %> |
<%= link_to 'Back', course_assignments_path %>
