<p id="notice"><%= notice %></p>

<h1>Enrollments</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.student %></td>
        <td><%= link_to 'Show', [@course, enrollment] %></td>
        <td><%= link_to 'Edit', edit_course_enrollment_path(id: enrollment.id) %></td>
        <td><%= link_to 'Destroy', [@course, enrollment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrollment', new_course_enrollment_path %>
