<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<%= link_to 'Courses', courses_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'People', people_path %>
        </li>
      </ul>
      <form class="navbar-form navbar-left" action="<%= courses_path %>">
        <div class="form-group">
          <input type="text" class="form-control" name="title" placeholder="Search" value="<%= params[:title] %>">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <% if person_signed_in? %>
              <%= current_person.to_s %>
            <% else %>
              New here?
            <% end %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if person_signed_in? %>
              <li>
                <%= link_to('Logout', destroy_person_session_path, :method => :delete) %>
              </li>
            <% else %>
              <li>
                <%= link_to('Register', new_person_registration_path) %>
              </li>
              <li>
                <%= link_to('Login', new_person_session_path) %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
