<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoRailsBase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless notice.nil? %>
      <div class="alert alert-success notice"><%= notice %></div>
    <% end %>
    <% unless alert.nil? %>
      <div class="alert alert-warning"><%= alert %></div>
    <% end %>
    <%= render 'layouts/navbar' %>

    <% if @course and @course.id %>
      <div>
        <%= render 'courses/navbar', course: @course %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
