<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoRailsBase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= link_to 'courses', courses_path %>
    <%= link_to 'people', people_path %>
    <% if person_signed_in? %>
      Logged in as: <%= current_person %>
      <%= link_to 'Logout', destroy_person_session_path %>
    <% end %>

    <% if @course and @course.id %>
      <div>
        <%= render 'courses/navbar', course: @course %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
